.header{
    padding-left: 10px;
    padding-right: 10px;
    grid-area: h;
    background-color: green;
    border:yellow 5px solid;
}
.header.loginBlock img{
    width: 100%;
    height: 100%;
    border:slateblue 3px solid;
}
.loginBlock{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    text-align: right;
    color: white;
    border:red 2px solid;
}
.loginBlock a{
    color: white;
    text-decoration: none;
    border:black 2px solid;

}
.registration{
    width: 100%;
    text-align: right;
    color:palegreen;
    border:salmon 3px solid;
}
.registration a{
    color: plum;
}