.nav{
    grid-area: n;
    /* background-color: burlywood; */
    padding: 20px;
    background-color: #6495ed;
    align-self: flex-start;
}
.item a{
    color: white;
    text-decoration: none;
}
.item a.active{
    color: gold;
}