.listItem {
    color: black;
    display: inline;
    border: 1px solid #f30808;
}
.circle{
    width: 30px;
    height: 30px;
    background: blue;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}